[flake8]
ignore =
    E203, # black and flake8 disagree on whitespace before ':'
    E501, # line too long (> 79 characters)
    W503, # black and flake8 disagree on how to place operators
    F403, # 'from module import *' used; unable to detect undefined names

per-file-ignores =
	# imported but unused
	__init__.py: F401

max-line-length = 88

# maximum McCabe complexity
max-complexity = 12

exclude =
	build
