name: Pytest

on: [push, pull_request]

jobs:
  tests:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python dependencies
      run: |
        python -m pip install -U pip
        pip install -e .[test]
    - name: Run unit tests
      run: python -m pytest -m "not slow" --cov=compressai -s tests/
